In [1]:
import numpy as np
import pandas as pd

# Q1. Pandas version

In [2]:
pd.__version__

'2.2.2'

In [3]:
df = pd.read_csv("laptops.csv")

In [4]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

# Q2. Records count

In [5]:
df.shape

(2160, 12)

# Q3. Laptop brands

In [6]:
df.Brand.nunique()

27

# Q4. Missing values

In [7]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

# Q5. Maximum final price

In [8]:
max(df[df["Brand"] == 'Dell']['Final Price'])

3936.0

# Q6. Median value of Screen

In [10]:
from statistics import median

median(df["Screen"])

14.0

In [11]:
df["Screen"].mode()

0    15.6
Name: Screen, dtype: float64

In [12]:
df["Screen"].isnull().sum()

4

In [13]:
df_q6 = df.copy()

In [16]:
df_q6["Screen"] = df_q6["Screen"].fillna(df_q6["Screen"].mode()[0])

In [20]:
df_q6["Screen"].isnull().sum()

0

In [21]:
median(df_q6["Screen"])

15.6

# Q7. Sum of weights

In [25]:
df_q7 = df[df['Brand'] == 'Innjoo'][["RAM","Storage","Screen"]]

In [26]:
df_q7.head()

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1

In [29]:
X = df_q7.values

In [31]:
XTX = np.dot(X.T, X)

In [33]:
XTX_inv = np.linalg.inv(XTX)

In [34]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [35]:
w = np.dot(np.dot(XTX_inv, X.T), y)

In [36]:
sum_of_w = np.sum(w)

In [37]:
sum_of_w

91.2998806299555